/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
/** end reset css**/
body {
	max-width: 1440px;
	margin: auto;
	font-family: 'Work Sans' ;
	font-size: 14px;
	background: #FFFEF8;

}
/* barre edition mode */

.bar-edition{
	height: 59px;
	gap: 0px;
	opacity: 0px;
	display: flex;	
	justify-content: center;
	align-items: center;
	position: relative;
	top: 0;
	background: #000;
}
.bar-edition .fa-pen-to-square {
	width: 15.58px;
	height: 15.58px;
	top: 2px;
	gap: 0px;
	opacity: 0px;	
	color: #ffffff;


}
.bar-edition p {
	font-family: 'Work Sans';
	font-size: 16px;
	font-weight: 400;
	line-height: 18.77px;
	text-align: center;	
	color: #ffffff;
}
header {
	display: flex;
	justify-content: space-between;
	margin: 50px 0;
	padding: 0px 150px 0px 150px;
	
}
section {
	margin: 50px 0
}

h1{
	display: flex;
	flex-direction: column;
	font-family: 'Syne';
	font-size: 22px;
	font-weight: 800;
	color: #B1663C
}

h1 > span {
	font-family: 'Work Sans';
	font-size:10px;
	letter-spacing: 0.1em;
;
}

h2{
	font-family: 'Syne';
	font-weight: 700;
	font-size: 30px;
	color: #1D6154
}
li a {
	color: inherit;
	text-decoration: none;
  }
  
nav ul {
	display: flex;
	align-items: center;
	list-style-type: none;

}
nav li {
	padding: 0 20px;
	font-size: 1.2em;
}

li:hover , li a:hover {
	font-weight: bold;
	

}
nav li img {
	width: 20px;
	height: 20px;
}
main{
	padding: 0px 150px 0px 150px;
}
#introduction {
	display: flex;
	align-items: center;
}
#introduction figure {
	flex: 1
}
#introduction img {
	display: block;
	margin: auto;
	width: 80%;
}

#introduction article {
	flex: 1
}
#introduction h2 {
	margin-bottom: 1em;
}

#introduction p {
	margin-bottom: 0.5em;
}
#portfolio h2 {
	text-align: center;
	
	
}
.gallery {
	width: 100%;
	display: grid;
	grid-template-columns: 1fr 1fr 1fr;
	grid-column-gap: 20px;
	grid-row-gap: 20px;
}

.gallery img {
	width: 100%;

}
#contact {
	width: 50%;
margin: auto;
}
#contact > * {
	text-align: center;

}
#contact h2{
	margin-bottom: 20px;
}
#contact form {
	text-align: left;
	margin-top:30px;
	display: flex;
	flex-direction: column;
}

#contact input {
	height: 50px;
	font-size: 1.2em;
	border: none;
	box-shadow: 0px 4px 14px rgba(0, 0, 0, 0.09);
}
#contact input[type="submit"]:hover {
	background: #0E2F28;
	cursor: pointer;

}

#contact label {
	margin: 2em 0 1em 0;
}
#contact textarea {
	border: none;
	box-shadow: 0px 4px 14px rgba(0, 0, 0, 0.09);
}

input[type="submit"]{
	font-family: 'Syne';
	font-weight: 700;
	color: white;
	background-color: #1D6154;
	margin : 2em auto ;
	width: 180px;
	text-align: center;
	border-radius: 60px ;
}

footer nav ul {
	display: flex;
	justify-content: flex-end;
	margin: 2em
}

.title {
	display: flex;
	align-items: center;
	padding-left: 480px;
	padding-right:350px;
	margin-bottom: 100px;
}
	
#portfolio .fa-pen-to-square {
margin-left: 20px;
}

#portfolio a {
	margin-left: 8px;
	text-decoration: none;
	color: #000;
}


/* boutons filtre */
.filterButtons{
	display: flex;
	justify-content: center;
	gap: 10px;
	margin-bottom: 50px;
}

#btnFilter{

	font-family: Syne;
	font-size: 16px;
	font-weight: 700;
	border-radius: 60px;
	border: 1px;
	opacity: 0px;	
	text-align: center;
	color: #1D6154;
	border: 1px solid #1D6154 ;
	background: #ffffff;
}
#btnFilter:hover{
	background: #1D6154;
	color: #ffffff;
}

.btn-tous{
	width: 100px;
	height: 37px;
	
}
.btn-objets{
	width: 100px;
	height: 37px;
}
.btn-appartements{
	width: 157px;
	height: 37px;
}
.btn-hotels-restaurants{
	width: 198px;
	height: 37px;
	
}
/********************* fenetre modal *********************/
.modal-container{
	display: none;
	position: fixed;
	top: 0;
	width: 100vw;
	height: 100vh;
	max-width: 1440px;
}

.modal-container.active {
    display: block;
}

.overlay{
	position: absolute;
	width: 100%;
	height: 100%;
	background: #0000004D;
	
}
.modal{
	width: 570px;
	height: 610px;
	border-radius: 10px;
	opacity: 0px;
	max-width: 630px;
	min-width: 300px;
	padding: 30px;
	background: #ffffff;
	position: absolute;
	top: 50%;
	left: 50%;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	transform: translate(-50%, -50%);

}
#close-modal{
position: fixed;
right: 40px;
top: 40px;
width: 24px;
height: 24px;
padding: 6px 5.99px 5.99px 6px;
gap: 0px;
opacity: 0px;
display: flex;
justify-content: center;
align-items: center;
background: #ffffff;
border: 0;
cursor: pointer;
}
.modal h2 {
	width: 173px;
	height: 30px;
	top: 720px;
	left: 634px;
	gap: 0px;
	opacity: 0px;
	font-family: 'Work Sans';
	font-size: 26px;
	font-weight: 400;
	line-height: 30.5px;
	text-align: center;
	color: #000000;

		
}
.grid-photo {
	position: relative;
	width: 72%;
	height: 70%;
	margin: 40px;
	display: grid;
	grid-template-columns: repeat(5, 1fr);
	grid-template-rows: 1fr 1fr 1fr 50px;
	gap: 30px 10px;
	border-bottom: 1px solid#B3B3B3;
}


.grid-photo img {
    max-width: 100%;
    max-height: 100%;
    object-fit: cover; 
}
.grid-photo div {
    display: flex;
	justify-content: end;
}

.delete-icon {
    position: absolute;
	display: flex;
	justify-content: center;
	align-items: center;
    cursor: pointer;
	font-size: 10px;
	width: 17px;
	height: 17px;
	margin: 5px;
	gap: 0px;
	border-radius: 2px;
	opacity: 0px;
	color: #ffffff;
	background: #000;
	
}


#addphoto {
	width: 237px;
	height: 36px;
	top: 1267px;
	left: 600px;
	gap: 0px;
	border: 0;
	border-radius: 60px;
	opacity: 0px;
	font-family: Syne;
	font-size: 14px;
	font-weight: 700;
	line-height: 16.8px;
	text-align: center;
	cursor: pointer;
	background: #1D6154;
	color: #ffffff;
}

/* fenetre modal ajout photo  */

.modal-container-add-photo{
	display: none;
	position: fixed;
	top: 0;
	width: 100vw;
	height: 100vh;
	max-width: 1440px;
}
.modal-container-add-photo.active{
	display: block;
}


#close-modal-add{
	position: fixed;
	right: 40px;
	top: 35px;
	width: 24px;
	height: 24px;
	padding: 6px 5.99px 5.99px 6px;
	gap: 0px;
	opacity: 0px;
	font-size: 10px ;
	display: flex;
	justify-content: center;
	align-items: center;
	background: #ffffff;
	border: 0;
	cursor: pointer;
}

.container-add-newphoto{
	width: 75%;
	height: 80%;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	border-bottom: 1px solid #B3B3B3;
	
}

.container-newphoto {
	width: 100%;
	height: 35%;
	margin-top: 5px;
	margin-bottom: 20px;
	border-radius: 3px;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	gap: 10px;
	background: #E8F1F6;
}

.container-newphoto img {
    max-width: 420px;
    max-height: 175px;

}

.visu-photo.active {
	display: none;
}

.visu-photo{
	width: 100%;
	height: 100%;
	border-radius: 3px;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	gap: 10px;
	background: #E8F1F6;
}
.visu-photo p {
	font-family: 'Work Sans';
	font-size: 10px;
	font-weight: 400;
	line-height: 11.73px;
	text-align: center;
	color: #444444;
	
}
#browse-button{
	width: 173px;
	height: 36px;
	gap: 0px;
	border-radius: 50px;
	opacity: 0px;
	cursor: pointer;
	background: #CBD6DC;
	font-family: 'Work Sans';
	font-size: 14px;
	font-weight: 500;
	line-height: 16.42px;
	text-align: center;
	border: 0;
	color: #306685;
	
}

.fa-image {
	top: 799px;
	left: 681px;
	padding: 9.5px 3.93px 6.88px 3.93px;
	gap: 0px;
	opacity: 0px;
	font-size: 68px;
	padding: 0;
	color: #B9C5CC;

	
}

form{
	width: 100%;
	height: 100%;
	display: flex;
	flex-direction: column;
}
#valide-photo{
	width: 237px;
	height: 36px;
	top: 1267px;
	left: 600px;
	gap: 0px;
	border: 0;
	margin-top: 30px;
	border-radius: 60px;
	opacity: 0px;
	font-family: Syne;
	font-size: 14px;
	font-weight: 700;
	line-height: 16.8px;
	text-align: center;
	cursor: pointer;
	background: #A7A7A7;
	color: #ffffff;
}
#return-modal{
	position: fixed;
	left: 40px;
	top: 35px;
	width: 24px;
	height: 24px;
	padding: 6px 5.99px 5.99px 6px;
	gap: 0px;
	opacity: 0px;
	display: flex;
	justify-content: center;
	align-items: center;
	background: #ffffff;
	border: 0;
	cursor: pointer;
}

#category {
	width: 420px;
	height: 51px;
	padding: 0 10px;
	border: 0;
	cursor: pointer;
	background: #FFFFFF;
	color: gray;
	box-shadow: 0px 4px 14px 0px #00000017;
	
}

#title{
	width: 420px;
	height: 51px;
	top: 1011px;
	left: 510px;
	gap: 0px;
	opacity: 0px;
	border: 0;
	outline: none;
	background: #FFFFFF;
	box-shadow: 0px 4px 14px 0px #00000017;

	
}
label[for="title"] {
	width: 32px;
	height: 16px;
	margin-bottom: 10px;
	margin-top: 5px;
	gap: 0px;
	opacity: 0px;
	font-family: 'Work Sans';
	font-size: 14px;
	font-weight: 600;
	line-height: 16.42px;
	text-align: left;
	color: #3D3D3D;

		
}
label[for="category"] {
	width: 65px;
	height: 16px;
	margin-bottom: 10px;
	margin-top: 25px;
	gap: 0px;
	opacity: 0px;
	font-family:'Work Sans';
	font-size: 14px;
	font-weight: 600;
	line-height: 16.42px;
	text-align: left;
	color: #3D3D3D;

		
}
.container-add-newphoto h2 {
	font-family: 'Work Sans';
	font-size: 26px;
	font-weight: 400;
	line-height: 30.5px;
	text-align: center;
	margin-bottom: 35px;
}

